.youtoo-header-button {
	background-color: #fff;
	border-color: #dbdbdb;
	border-width: 1px;
	color: #363636;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(0.5em - 1px);
	padding-left: 1em;
	padding-right: 1em;
	padding-top: calc(0.5em - 1px);
	text-align: center;
	white-space: nowrap;
}

#youtoo-topbar-root {
	margin: 8px;
	padding: 8px;
	display: grid;
	align-content: center;
}

#end.ytd-masthead {
	/* create space for our button */
	min-width: calc(224px + 48px) !important;
}

.youtoo-header-dropdown {
	position: absolute;
	/* height: 300px; */
	width: 200px;
	margin-left: -53px;
	margin-top: 17px;
	border: 1px solid lightgrey;
	background-color: whitesmoke;
	padding: 10px;
}

.youtoo-field {
	margin-bottom: 0.5em;
}

button.youtoo-enabled {
	background-color: rgb(157, 212, 181);
}
